.input-container {
  display: flex;
  justify-content: space-between;
  width: 40rem;

  &:not(:last-child) {
    margin-bottom: 0.5rem;
  }

  label {
    text-transform: capitalize;
  }

  input {
    border: 1px solid white;
    border-bottom: 1px solid rgb(226, 226, 226);
    outline: none;
    width: 30rem;
  }
}
